<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h4>Новая книга</h4>
  </div>

  <% if @params && !@params[:errors].empty? %>
  <div class="large-12 cell callout warning">
    <p>При заполнении формы возникли ошибки</p>
    <ul>
      <% @params[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="large-12 cell">
    <form method="post">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="large-12 cell">
            <label>Автор
              <input type="text" placeholder="Достоевский" name="author" value="<%= @params && @params[:author] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <label>Название
              <input type="text" placeholder="Преступление и наказание" name="name"
                value="<%= @params && @params[:name] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <label>Дата
              <input type="text" placeholder="2017-02-20" name="date" value="<%= @params && @params[:date] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <label>Формат чтения
              <input type="text" placeholder="бумажная книга" name="read_format" value="<%= @params && @params[:read_format] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <label>Размер произведения
              <input type="text" placeholder="320" name="sizeb" value="<%= @params && @params[:sizeb] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <label>Оценка по 10-балльной шкале
              <input type="text" placeholder="10" name="mark" value="<%= @params && @params[:mark] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <label>Необязательный комментарий
              <input type="text" placeholder="2017-02-20" name="comment" value="<%= @params && @params[:comment] %>">
            </label>
          </div>
          <div class="large-12 cell">
            <input type="submit" value="Добавить" class="button">
          </div>
          <div class="large-12 cell">
            <a href="/" class="button">К списку книг</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>